header div {
    padding: 25px 0px;
    width: 400px;
}

ul li input {
    width: 80% !important;
}

.intro {
    padding: 10px !important;
}

.grid__right .grid__item {
    padding: 0px 25px 25px;
    max-width: 350px;
}